.article{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: min(1rem, 50px);
    margin: 0 2vw 3rem 2vw;
}
.article img{
    height: 3rem;
}
.article input{
    width: 3rem;
    height: 2rem;   
}
#cart{
    margin: 2vw;
}
.article-title{
    font-weight: bold;   
}
.article button{
    aspect-ratio: 1;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}