.article{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: min(1rem, 50px);
    margin: 0 2vw 3rem 2vw;
}
.article img{
    height: 3rem;
}
.article input{
    width: 3rem;
    height: 2rem;   
}
#cart{
    margin: 2vw;
}
.article-title{
    font-weight: bold;   
}
.article button{
    aspect-ratio: 1;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;   
}

.costContainer{
    padding: 10px;
    border-radius: 5px;
  }
  .costOptionContainer{
    padding: 15px;
    display: flex;
    justify-content: center;
    border: solid 1px #CED4DA;
  }
.costOptionContainer h6{
    font-size: 1.25rem;
}
.costOptionContainer h5 {
    font-size: 1.5rem;
}
#endShopping {
    background-color: #0087F7;       
    border: none;                
    color: white;                
    padding: 10px 400px;          
    border-radius: 0; 
}